@page "/exams/edit"
@using Microsoft.EntityFrameworkCore
@using Online_Examination.Domain
@inject IDbContextFactory<Online_Examination.Data.Online_ExaminationContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Edit</PageTitle>

<h1>Edit</h1>

<h2>Exam</h2>
<hr />
@if (Exam is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-4">
            <EditForm method="post" Model="Exam" OnValidSubmit="UpdateExam" FormName="edit" Enhance>
                <DataAnnotationsValidator />
                <ValidationSummary role="alert"/>
                <input type="hidden" name="Exam.Id" value="@Exam.Id" />
                <div class="mb-3">
                <span class="text-danger">*</span>
                    <label for="title" class="form-label">Title:</label>
                    <InputText id="title" @bind-Value="Exam.Title" class="form-control" aria-required="true"/>
                    <ValidationMessage For="() => Exam.Title" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Description:</label>
                    <InputText id="description" @bind-Value="Exam.Description" class="form-control" />
                    <ValidationMessage For="() => Exam.Description" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="timelimitminutes" class="form-label">TimeLimitMinutes:</label>
                    <InputNumber id="timelimitminutes" @bind-Value="Exam.TimeLimitMinutes" class="form-control" />
                    <ValidationMessage For="() => Exam.TimeLimitMinutes" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="creatorid" class="form-label">CreatorId:</label>
                    <InputText id="creatorid" @bind-Value="Exam.CreatorId" class="form-control" />
                    <ValidationMessage For="() => Exam.CreatorId" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="datecreated" class="form-label">DateCreated:</label>
                    <InputDate id="datecreated" @bind-Value="Exam.DateCreated" class="form-control" />
                    <ValidationMessage For="() => Exam.DateCreated" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="dateupdated" class="form-label">DateUpdated:</label>
                    <InputDate id="dateupdated" @bind-Value="Exam.DateUpdated" class="form-control" />
                    <ValidationMessage For="() => Exam.DateUpdated" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="createdby" class="form-label">CreatedBy:</label>
                    <InputText id="createdby" @bind-Value="Exam.CreatedBy" class="form-control" />
                    <ValidationMessage For="() => Exam.CreatedBy" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="updatedby" class="form-label">UpdatedBy:</label>
                    <InputText id="updatedby" @bind-Value="Exam.UpdatedBy" class="form-control" />
                    <ValidationMessage For="() => Exam.UpdatedBy" class="text-danger" />
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
            </EditForm>
        </div>
    </div>
}

<div>
    <a href="/exams">Back to List</a>
</div>

@code {
    [SupplyParameterFromQuery]
    private int Id { get; set; }

    [SupplyParameterFromForm]
    private Exam? Exam { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        Exam ??= await context.Exams.FirstOrDefaultAsync(m => m.Id == Id);

        if (Exam is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    // To protect from overposting attacks, enable the specific properties you want to bind to.
    // For more information, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task UpdateExam()
    {
        using var context = DbFactory.CreateDbContext();
        context.Attach(Exam!).State = EntityState.Modified;

        try
        {
            await context.SaveChangesAsync();
        }
        catch (DbUpdateConcurrencyException)
        {
            if (!ExamExists(Exam!.Id))
            {
                NavigationManager.NavigateTo("notfound");
            }
            else
            {
                throw;
            }
        }

        NavigationManager.NavigateTo("/exams");
    }

    private bool ExamExists(int id)
    {
        using var context = DbFactory.CreateDbContext();
        return context.Exams.Any(e => e.Id == id);
    }
}
