@page "/exams"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using Online_Examination.Domain
@using Online_Examination.Data
@implements IAsyncDisposable
@inject IDbContextFactory<Online_Examination.Data.Online_ExaminationContext> DbFactory

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="exams/create">Create New</a>
</p>

<QuickGrid Class="table" Items="context.Exams">
    <PropertyColumn Property="exam => exam.Title" />
    <PropertyColumn Property="exam => exam.Description" />
    <PropertyColumn Property="exam => exam.TimeLimitMinutes" />
    <PropertyColumn Property="exam => exam.CreatorId" />
    <PropertyColumn Property="exam => exam.DateCreated" />
    <PropertyColumn Property="exam => exam.DateUpdated" />
    <PropertyColumn Property="exam => exam.CreatedBy" />
    <PropertyColumn Property="exam => exam.UpdatedBy" />

    <TemplateColumn Context="exam">
        <a href="@($"exams/edit?id={exam.Id}")">Edit</a> |
        <a href="@($"exams/details?id={exam.Id}")">Details</a> |
        <a href="@($"exams/delete?id={exam.Id}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private Online_ExaminationContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
