@page "/questions/edit"
@using Microsoft.EntityFrameworkCore
@using Online_Examination.Domain
@inject IDbContextFactory<Online_Examination.Data.Online_ExaminationContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Edit</PageTitle>

<h1>Edit</h1>

<h2>Question</h2>
<hr />
@if (Question is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-4">
            <EditForm method="post" Model="Question" OnValidSubmit="UpdateQuestion" FormName="edit" Enhance>
                <DataAnnotationsValidator />
                <ValidationSummary role="alert"/>
                <input type="hidden" name="Question.Id" value="@Question.Id" />
                <div class="mb-3">
                <span class="text-danger">*</span>
                    <label for="text" class="form-label">Text:</label>
                    <InputText id="text" @bind-Value="Question.Text" class="form-control" aria-required="true"/>
                    <ValidationMessage For="() => Question.Text" class="text-danger" />
                </div>
                <div class="mb-3">
                <span class="text-danger">*</span>
                    <label for="optiona" class="form-label">OptionA:</label>
                    <InputText id="optiona" @bind-Value="Question.OptionA" class="form-control" aria-required="true"/>
                    <ValidationMessage For="() => Question.OptionA" class="text-danger" />
                </div>
                <div class="mb-3">
                <span class="text-danger">*</span>
                    <label for="optionb" class="form-label">OptionB:</label>
                    <InputText id="optionb" @bind-Value="Question.OptionB" class="form-control" aria-required="true"/>
                    <ValidationMessage For="() => Question.OptionB" class="text-danger" />
                </div>
                <div class="mb-3">
                <span class="text-danger">*</span>
                    <label for="optionc" class="form-label">OptionC:</label>
                    <InputText id="optionc" @bind-Value="Question.OptionC" class="form-control" aria-required="true"/>
                    <ValidationMessage For="() => Question.OptionC" class="text-danger" />
                </div>
                <div class="mb-3">
                <span class="text-danger">*</span>
                    <label for="optiond" class="form-label">OptionD:</label>
                    <InputText id="optiond" @bind-Value="Question.OptionD" class="form-control" aria-required="true"/>
                    <ValidationMessage For="() => Question.OptionD" class="text-danger" />
                </div>
                <div class="mb-3">
                <span class="text-danger">*</span>
                    <label for="correctanswer" class="form-label">CorrectAnswer:</label>
                    <InputText id="correctanswer" @bind-Value="Question.CorrectAnswer" class="form-control" aria-required="true"/>
                    <ValidationMessage For="() => Question.CorrectAnswer" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="imageurl" class="form-label">ImageUrl:</label>
                    <InputText id="imageurl" @bind-Value="Question.ImageUrl" class="form-control" />
                    <ValidationMessage For="() => Question.ImageUrl" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="readingpassage" class="form-label">ReadingPassage:</label>
                    <InputText id="readingpassage" @bind-Value="Question.ReadingPassage" class="form-control" />
                    <ValidationMessage For="() => Question.ReadingPassage" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="examid" class="form-label">ExamId:</label>
                    <InputNumber id="examid" @bind-Value="Question.ExamId" class="form-control" />
                    <ValidationMessage For="() => Question.ExamId" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="datecreated" class="form-label">DateCreated:</label>
                    <InputDate id="datecreated" @bind-Value="Question.DateCreated" class="form-control" />
                    <ValidationMessage For="() => Question.DateCreated" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="dateupdated" class="form-label">DateUpdated:</label>
                    <InputDate id="dateupdated" @bind-Value="Question.DateUpdated" class="form-control" />
                    <ValidationMessage For="() => Question.DateUpdated" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="createdby" class="form-label">CreatedBy:</label>
                    <InputText id="createdby" @bind-Value="Question.CreatedBy" class="form-control" />
                    <ValidationMessage For="() => Question.CreatedBy" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="updatedby" class="form-label">UpdatedBy:</label>
                    <InputText id="updatedby" @bind-Value="Question.UpdatedBy" class="form-control" />
                    <ValidationMessage For="() => Question.UpdatedBy" class="text-danger" />
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
            </EditForm>
        </div>
    </div>
}

<div>
    <a href="/questions">Back to List</a>
</div>

@code {
    [SupplyParameterFromQuery]
    private int Id { get; set; }

    [SupplyParameterFromForm]
    private Question? Question { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        Question ??= await context.Questions.FirstOrDefaultAsync(m => m.Id == Id);

        if (Question is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    // To protect from overposting attacks, enable the specific properties you want to bind to.
    // For more information, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task UpdateQuestion()
    {
        using var context = DbFactory.CreateDbContext();
        context.Attach(Question!).State = EntityState.Modified;

        try
        {
            await context.SaveChangesAsync();
        }
        catch (DbUpdateConcurrencyException)
        {
            if (!QuestionExists(Question!.Id))
            {
                NavigationManager.NavigateTo("notfound");
            }
            else
            {
                throw;
            }
        }

        NavigationManager.NavigateTo("/questions");
    }

    private bool QuestionExists(int id)
    {
        using var context = DbFactory.CreateDbContext();
        return context.Questions.Any(e => e.Id == id);
    }
}
