@page "/questions"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using Online_Examination.Domain
@using Online_Examination.Data
@implements IAsyncDisposable
@inject IDbContextFactory<Online_Examination.Data.Online_ExaminationContext> DbFactory

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="questions/create">Create New</a>
</p>

<QuickGrid Class="table" Items="context.Questions">
    <PropertyColumn Property="question => question.Text" />
    <PropertyColumn Property="question => question.OptionA" />
    <PropertyColumn Property="question => question.OptionB" />
    <PropertyColumn Property="question => question.OptionC" />
    <PropertyColumn Property="question => question.OptionD" />
    <PropertyColumn Property="question => question.CorrectAnswer" />
    <PropertyColumn Property="question => question.ImageUrl" />
    <PropertyColumn Property="question => question.ReadingPassage" />
    <PropertyColumn Property="question => question.ExamId" />
    <PropertyColumn Property="question => question.DateCreated" />
    <PropertyColumn Property="question => question.DateUpdated" />
    <PropertyColumn Property="question => question.CreatedBy" />
    <PropertyColumn Property="question => question.UpdatedBy" />

    <TemplateColumn Context="question">
        <a href="@($"questions/edit?id={question.Id}")">Edit</a> |
        <a href="@($"questions/details?id={question.Id}")">Details</a> |
        <a href="@($"questions/delete?id={question.Id}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private Online_ExaminationContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
