@page "/exam-qns-math"

<HeadContent>
    <link rel="stylesheet" href="/css/exam-qns-math.css">
</HeadContent>

<section class="editor">
    <h3>Exam Name</h3>
    <input type="text" value="Mathematics Mock Test" />

    <h3>Question</h3>
    <textarea>What is 2 + 2?</textarea>

    <h3>Correct Answer</h3>
    <input type="text" value="4" />

    <button>Save Changes</button>
</section>

@code {

}
