@page "/exam-submission"

<HeadContent>
    <link rel="stylesheet" href="/css/exam-submitted.css">
</HeadContent>

<section class="success-section">
    <div class="success-box">
        <h1>Exam Submitted!</h1>
        <p>Thank you for completing your exam.</p>
        <NavLink href="/user-dashboard" class="back-btn">Back to Dashboard</NavLink>
    </div>
</section>

@code {

}
