@page "/exams-page"

<HeadContent>
    <link rel="stylesheet" href="/css/my-exams-page.css">
</HeadContent>

<section class="exam-list">
    <div class="exam-card">
        <h3>Mathematics Mock Test</h3>
        <NavLink href="/exam-index">Start Exam</NavLink>
    </div>

    <div class="exam-card">
        <h3>Science Mock Test</h3>
        <NavLink href="/exam-index">Start Exam</NavLink>
    </div>
</section>

@code {

}
