@page "/users/create"
@using Microsoft.EntityFrameworkCore
@using Online_Examination.Domain
@inject IDbContextFactory<Online_Examination.Data.Online_ExaminationContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Create</PageTitle>

<h1>Create</h1>

<h2>User</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <EditForm method="post" Model="User" OnValidSubmit="AddUser" FormName="create" Enhance>
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" role="alert"/>
            <div class="mb-3">
                <span class="text-danger">*</span>
                <label for="role" class="form-label">Role:</label> 
                <InputText id="role" @bind-Value="User.Role" class="form-control" aria-required="true"/> 
                <ValidationMessage For="() => User.Role" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="createddate" class="form-label">CreatedDate:</label> 
                <InputDate id="createddate" @bind-Value="User.CreatedDate" class="form-control" /> 
                <ValidationMessage For="() => User.CreatedDate" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="createdby" class="form-label">CreatedBy:</label> 
                <InputText id="createdby" @bind-Value="User.CreatedBy" class="form-control" /> 
                <ValidationMessage For="() => User.CreatedBy" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="modifieddate" class="form-label">ModifiedDate:</label> 
                <InputDate id="modifieddate" @bind-Value="User.ModifiedDate" class="form-control" /> 
                <ValidationMessage For="() => User.ModifiedDate" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="modifiedby" class="form-label">ModifiedBy:</label> 
                <InputText id="modifiedby" @bind-Value="User.ModifiedBy" class="form-control" /> 
                <ValidationMessage For="() => User.ModifiedBy" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="username" class="form-label">UserName:</label> 
                <InputText id="username" @bind-Value="User.UserName" class="form-control" /> 
                <ValidationMessage For="() => User.UserName" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="normalizedusername" class="form-label">NormalizedUserName:</label> 
                <InputText id="normalizedusername" @bind-Value="User.NormalizedUserName" class="form-control" /> 
                <ValidationMessage For="() => User.NormalizedUserName" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="email" class="form-label">Email:</label> 
                <InputText id="email" @bind-Value="User.Email" class="form-control" /> 
                <ValidationMessage For="() => User.Email" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="normalizedemail" class="form-label">NormalizedEmail:</label> 
                <InputText id="normalizedemail" @bind-Value="User.NormalizedEmail" class="form-control" /> 
                <ValidationMessage For="() => User.NormalizedEmail" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="emailconfirmed" class="form-label">EmailConfirmed:</label> 
                <InputCheckbox id="emailconfirmed" @bind-Value="User.EmailConfirmed" class="form-check-input" /> 
                <ValidationMessage For="() => User.EmailConfirmed" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="passwordhash" class="form-label">PasswordHash:</label> 
                <InputText id="passwordhash" @bind-Value="User.PasswordHash" class="form-control" /> 
                <ValidationMessage For="() => User.PasswordHash" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="securitystamp" class="form-label">SecurityStamp:</label> 
                <InputText id="securitystamp" @bind-Value="User.SecurityStamp" class="form-control" /> 
                <ValidationMessage For="() => User.SecurityStamp" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="concurrencystamp" class="form-label">ConcurrencyStamp:</label> 
                <InputText id="concurrencystamp" @bind-Value="User.ConcurrencyStamp" class="form-control" /> 
                <ValidationMessage For="() => User.ConcurrencyStamp" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="phonenumber" class="form-label">PhoneNumber:</label> 
                <InputText id="phonenumber" @bind-Value="User.PhoneNumber" class="form-control" /> 
                <ValidationMessage For="() => User.PhoneNumber" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="phonenumberconfirmed" class="form-label">PhoneNumberConfirmed:</label> 
                <InputCheckbox id="phonenumberconfirmed" @bind-Value="User.PhoneNumberConfirmed" class="form-check-input" /> 
                <ValidationMessage For="() => User.PhoneNumberConfirmed" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="twofactorenabled" class="form-label">TwoFactorEnabled:</label> 
                <InputCheckbox id="twofactorenabled" @bind-Value="User.TwoFactorEnabled" class="form-check-input" /> 
                <ValidationMessage For="() => User.TwoFactorEnabled" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="lockoutend" class="form-label">LockoutEnd:</label> 
                <InputDate id="lockoutend" @bind-Value="User.LockoutEnd" class="form-control" /> 
                <ValidationMessage For="() => User.LockoutEnd" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="lockoutenabled" class="form-label">LockoutEnabled:</label> 
                <InputCheckbox id="lockoutenabled" @bind-Value="User.LockoutEnabled" class="form-check-input" /> 
                <ValidationMessage For="() => User.LockoutEnabled" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="accessfailedcount" class="form-label">AccessFailedCount:</label> 
                <InputNumber id="accessfailedcount" @bind-Value="User.AccessFailedCount" class="form-control" /> 
                <ValidationMessage For="() => User.AccessFailedCount" class="text-danger" /> 
            </div>        
            <button type="submit" class="btn btn-primary">Create</button>
        </EditForm>
    </div>
</div>

<div>
    <a href="/users">Back to List</a>
</div>

@code {
    [SupplyParameterFromForm]
    private User User { get; set; } = new();

    // To protect from overposting attacks, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task AddUser()
    {
        using var context = DbFactory.CreateDbContext();
        context.User.Add(User);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/users");
    }
}
