@page "/users"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using Online_Examination.Domain
@using Online_Examination.Data
@implements IAsyncDisposable
@inject IDbContextFactory<Online_Examination.Data.Online_ExaminationContext> DbFactory

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="users/create">Create New</a>
</p>

<QuickGrid Class="table" Items="context.User">
    <PropertyColumn Property="user => user.Role" />
    <PropertyColumn Property="user => user.CreatedDate" />
    <PropertyColumn Property="user => user.CreatedBy" />
    <PropertyColumn Property="user => user.ModifiedDate" />
    <PropertyColumn Property="user => user.ModifiedBy" />
    <PropertyColumn Property="user => user.UserName" />
    <PropertyColumn Property="user => user.NormalizedUserName" />
    <PropertyColumn Property="user => user.Email" />
    <PropertyColumn Property="user => user.NormalizedEmail" />
    <PropertyColumn Property="user => user.EmailConfirmed" />
    <PropertyColumn Property="user => user.PasswordHash" />
    <PropertyColumn Property="user => user.SecurityStamp" />
    <PropertyColumn Property="user => user.ConcurrencyStamp" />
    <PropertyColumn Property="user => user.PhoneNumber" />
    <PropertyColumn Property="user => user.PhoneNumberConfirmed" />
    <PropertyColumn Property="user => user.TwoFactorEnabled" />
    <PropertyColumn Property="user => user.LockoutEnd" />
    <PropertyColumn Property="user => user.LockoutEnabled" />
    <PropertyColumn Property="user => user.AccessFailedCount" />

    <TemplateColumn Context="user">
        <a href="@($"users/edit?id={user.Id}")">Edit</a> |
        <a href="@($"users/details?id={user.Id}")">Details</a> |
        <a href="@($"users/delete?id={user.Id}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private Online_ExaminationContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
