@page "/attempts/create"
@using Microsoft.EntityFrameworkCore
@using Online_Examination.Domain
@inject IDbContextFactory<Online_Examination.Data.Online_ExaminationContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Create</PageTitle>

<h1>Create</h1>

<h2>Attempt</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <EditForm method="post" Model="Attempt" OnValidSubmit="AddAttempt" FormName="create" Enhance>
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" role="alert"/>
            <div class="mb-3">
                <label for="score" class="form-label">Score:</label> 
                <InputNumber id="score" @bind-Value="Attempt.Score" class="form-control" /> 
                <ValidationMessage For="() => Attempt.Score" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="userid" class="form-label">UserId:</label> 
                <InputText id="userid" @bind-Value="Attempt.UserId" class="form-control" /> 
                <ValidationMessage For="() => Attempt.UserId" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="examid" class="form-label">ExamId:</label> 
                <InputNumber id="examid" @bind-Value="Attempt.ExamId" class="form-control" /> 
                <ValidationMessage For="() => Attempt.ExamId" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="datecreated" class="form-label">DateCreated:</label> 
                <InputDate id="datecreated" @bind-Value="Attempt.DateCreated" class="form-control" /> 
                <ValidationMessage For="() => Attempt.DateCreated" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="dateupdated" class="form-label">DateUpdated:</label> 
                <InputDate id="dateupdated" @bind-Value="Attempt.DateUpdated" class="form-control" /> 
                <ValidationMessage For="() => Attempt.DateUpdated" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="createdby" class="form-label">CreatedBy:</label> 
                <InputText id="createdby" @bind-Value="Attempt.CreatedBy" class="form-control" /> 
                <ValidationMessage For="() => Attempt.CreatedBy" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="updatedby" class="form-label">UpdatedBy:</label> 
                <InputText id="updatedby" @bind-Value="Attempt.UpdatedBy" class="form-control" /> 
                <ValidationMessage For="() => Attempt.UpdatedBy" class="text-danger" /> 
            </div>        
            <button type="submit" class="btn btn-primary">Create</button>
        </EditForm>
    </div>
</div>

<div>
    <a href="/attempts">Back to List</a>
</div>

@code {
    [SupplyParameterFromForm]
    private Attempt Attempt { get; set; } = new();

    // To protect from overposting attacks, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task AddAttempt()
    {
        using var context = DbFactory.CreateDbContext();
        context.Attempts.Add(Attempt);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/attempts");
    }
}
