@page "/attempts/edit"
@using Microsoft.EntityFrameworkCore
@using Online_Examination.Domain
@inject IDbContextFactory<Online_Examination.Data.Online_ExaminationContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Edit</PageTitle>

<h1>Edit</h1>

<h2>Attempt</h2>
<hr />
@if (Attempt is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-4">
            <EditForm method="post" Model="Attempt" OnValidSubmit="UpdateAttempt" FormName="edit" Enhance>
                <DataAnnotationsValidator />
                <ValidationSummary role="alert"/>
                <input type="hidden" name="Attempt.Id" value="@Attempt.Id" />
                <div class="mb-3">
                    <label for="score" class="form-label">Score:</label>
                    <InputNumber id="score" @bind-Value="Attempt.Score" class="form-control" />
                    <ValidationMessage For="() => Attempt.Score" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="userid" class="form-label">UserId:</label>
                    <InputText id="userid" @bind-Value="Attempt.UserId" class="form-control" />
                    <ValidationMessage For="() => Attempt.UserId" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="examid" class="form-label">ExamId:</label>
                    <InputNumber id="examid" @bind-Value="Attempt.ExamId" class="form-control" />
                    <ValidationMessage For="() => Attempt.ExamId" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="datecreated" class="form-label">DateCreated:</label>
                    <InputDate id="datecreated" @bind-Value="Attempt.DateCreated" class="form-control" />
                    <ValidationMessage For="() => Attempt.DateCreated" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="dateupdated" class="form-label">DateUpdated:</label>
                    <InputDate id="dateupdated" @bind-Value="Attempt.DateUpdated" class="form-control" />
                    <ValidationMessage For="() => Attempt.DateUpdated" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="createdby" class="form-label">CreatedBy:</label>
                    <InputText id="createdby" @bind-Value="Attempt.CreatedBy" class="form-control" />
                    <ValidationMessage For="() => Attempt.CreatedBy" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="updatedby" class="form-label">UpdatedBy:</label>
                    <InputText id="updatedby" @bind-Value="Attempt.UpdatedBy" class="form-control" />
                    <ValidationMessage For="() => Attempt.UpdatedBy" class="text-danger" />
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
            </EditForm>
        </div>
    </div>
}

<div>
    <a href="/attempts">Back to List</a>
</div>

@code {
    [SupplyParameterFromQuery]
    private int Id { get; set; }

    [SupplyParameterFromForm]
    private Attempt? Attempt { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        Attempt ??= await context.Attempts.FirstOrDefaultAsync(m => m.Id == Id);

        if (Attempt is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    // To protect from overposting attacks, enable the specific properties you want to bind to.
    // For more information, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task UpdateAttempt()
    {
        using var context = DbFactory.CreateDbContext();
        context.Attach(Attempt!).State = EntityState.Modified;

        try
        {
            await context.SaveChangesAsync();
        }
        catch (DbUpdateConcurrencyException)
        {
            if (!AttemptExists(Attempt!.Id))
            {
                NavigationManager.NavigateTo("notfound");
            }
            else
            {
                throw;
            }
        }

        NavigationManager.NavigateTo("/attempts");
    }

    private bool AttemptExists(int id)
    {
        using var context = DbFactory.CreateDbContext();
        return context.Attempts.Any(e => e.Id == id);
    }
}
