@page "/attempts"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using Online_Examination.Domain
@using Online_Examination.Data
@implements IAsyncDisposable
@inject IDbContextFactory<Online_Examination.Data.Online_ExaminationContext> DbFactory

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="attempts/create">Create New</a>
</p>

<QuickGrid Class="table" Items="context.Attempts">
    <PropertyColumn Property="attempt => attempt.Score" />
    <PropertyColumn Property="attempt => attempt.UserId" />
    <PropertyColumn Property="attempt => attempt.ExamId" />
    <PropertyColumn Property="attempt => attempt.DateCreated" />
    <PropertyColumn Property="attempt => attempt.DateUpdated" />
    <PropertyColumn Property="attempt => attempt.CreatedBy" />
    <PropertyColumn Property="attempt => attempt.UpdatedBy" />

    <TemplateColumn Context="attempt">
        <a href="@($"attempts/edit?id={attempt.Id}")">Edit</a> |
        <a href="@($"attempts/details?id={attempt.Id}")">Details</a> |
        <a href="@($"attempts/delete?id={attempt.Id}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private Online_ExaminationContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
